html {
  background-color: #181a25;
  font-family: "Source Sans Pro", sans-serif;
}
body {
  padding-top: 0px;
  background-color: #181a25;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
}
.pagecontent {
  padding-top: 80px;
}
/* Navigation bar */

/* General */
.customNav {
  position: fixed;
  width: 100%;
  background: url("../images/transparency.png");
  background-color: transparent !important;
  background-size: cover;
  z-index: 10;
  font-family: "Source Sans Pro", sans-serif;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-brand {
  color: #fff !important;
  font-family: "Sonsie One", cursive;
  font-size: 25px;
  padding: 0px 10px;
}
.nav-link {
  color: #fff;
}
.nav-link:hover {
  color: #727aae !important;
}
.navbar-brand img {
  padding-right: 15px;
  width: 65px;
}
.nav-item {
  margin: 0px 10px;
}

/* Navigation dropdown menu */
.dropdown-menu {
  background: url("images/transparency.png");
  background-color: transparent !important;
  background-size: cover;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background: black;
}

/* Navigation links */
.customNav a {
  color: white !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
br {
  font-family: "Source Sans Pro", sans-serif;
}

.navCTA {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  background-color: #0094b6 !important;
  border: none !important;
  border-radius: 5px !important;
  width: 185px;
  padding: 10px 0px;
}
.navCTA2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  background-color: transparent !important;
  border-radius: 5px !important;
  border-color: #fff;
  width: 185px;
  padding: 10px 0px;
}

/* Jumbotron  */
.jumbotronhero {
  background-image: url(../images/herohomeimg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
}

/* Jumbotron copy */
.jumboCopy {
  width: 70%;
  min-width: 500px;
  max-width: 800px;
  color: white;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}
.jumbotronbtn {
  width: 270px;
}

/* Cards */
.content {
  padding: 20px;
}
.card {
  background-color: #373b53;
  color: #fff;
}
.sectionHeading {
  text-align: center;
}
.sectionMiddle {
  text-align: center;
}
.display-4 {
  font-weight: 700;
}
.display-5 {
  font-weight: 600;
}
.display-6 {
  color: #7d90b2;
}
.meetcommunity {
  padding: 0px 30px 30px 30px;
  text-align: center;
  margin: 0 auto;
}

.forartists {
  padding: 0px 30px 30px 30px;
}

.formanagers {
  padding: 0px 30px 30px 30px;
}

.cardContainer {
  text-align: center;
}

.thousandsbooked {
  padding: 0px 30px 30px 30px;
}
.card-title {
  text-align: left;
  font-weight: 600;
}
.card-text {
  text-align: left;
  font-weight: 400;
  padding: 0px;
}
.bottomtitle {
  position: absolute;
  bottom: 0;
  left: 10px;
}
.bottomtitlebig {
  padding: 20px;
  position: absolute;
  bottom: 20px;
  left: 10px;
}
.biggertitle {
  text-align: center;
  padding: 30px;
}

.indexsection1 {
  padding: 20px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
.indexsection1 img {
  border-radius: none;
}

.smallcards,
.smallcards img {
  border-radius: 20px;
}

.featuredsection {
  background-color: #282b3e;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.featuredsection img {
  float: center;
  width: 200px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
br {
  font-family: "Source Sans Pro", sans-serif;
}
/* Footer */
.emailContain {
  background: url(../images/emailBG.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

/* Footer form */
form {
  width: 500px;
  margin: 35px auto;
  padding: 45px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1);
  background-color: white;
}

/* STYLES FOR TEMPLATE PLEASE DO NOT TOUCH*/
.dropdown-menu {
  left: -97px;
}

footer {
  /* padding: 20px; */
  font-size: 20px;
  color: white;
  flex-direction: row;
}
.copyright {
  color: #7d90b2;
  font-size: 12px;
  padding: 20px;
  margin: 0;
}
.footerLogo {
  text-align: left;
  padding: 5px;
  flex-grow: 0;
}
.footerLinks1,
.footerLinks2 {
  color: #7d90b2;
  font-size: 18px;
  padding: 20px;
}

.footerBar {
  background-color: #181a25;
  justify-content: space-between;
  align-items: flex-start;
  padding: 35px;
  display: flex;
  flex-direction: row;
}

.footerBar ul li {
  list-style-type: none;
  cursor: pointer;
}

.sm {
  display: flex;
  align-items: center;
  align-self: center;
  margin-right: 150px;
}

.sm ul {
  display: flex;
  justify-content: space-between;
}

.sm ul li {
  padding-left: 20px;
  margin: 10px;
}

.homeHelp .fa {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #12131b;
  color: white;
  text-align: center;
  cursor: pointer;
  line-height: 2.5;
}

.homeHelp {
  height: 120px;
  position: fixed;
  bottom: 90px;
  right: 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

.cardContainer {
  margin-top: 20px;
}
.card {
  margin: 0 auto;
}

.pagecontent2 {
  padding-top: 40px;
}
.form-control {
  font-size: 16px;
  transition: all 0.4s;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: #727aae;
}
.form-control:focus {
  border-color: #00c1cd;
  background-color: rgba(0, 0, 0, 0.3);
}
.active {
  background-color: #0094b6 !important;
}

.signup-form form {
  border-radius: 5px;
  margin-bottom: 20px;
  background: #373b53;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 40px;
}
.signup-form a {
  color: white;
}
.signup-form h2 {
  text-align: center;
  font-size: 34px;
  margin: 10px 0 15px;
}
.signup-form .hint-text {
  color: #727aae;
  text-align: center;
  margin-bottom: 20px;
}
.signup-form .form-group {
  margin-bottom: 20px;
}
.signup-form {
  font-size: 18px;
  line-height: 26px;
  padding: 10px 60px;
}

.or-seperator {
  margin: 50px 0 15px;
  text-align: center;
  border-top: 1px solid #e0e0e0;
}
.or-seperator b {
  padding: 0 10px;
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  background: #fff;
  color: #181a25;
  display: inline-block;
  border: 1px solid #727aae;
  border-radius: 50%;
  position: relative;
  top: -22px;
  z-index: 1;
}
.social-btn {
  display: grid;
}
.social-btn .btn {
  color: #fff;
  margin: 10px 0 0 0px;
  font-size: 15px;
  border-radius: 50px;
  font-weight: normal;
  border: none;
  transition: all 0.4s;
}
.social-btn .btn:first-child {
  margin-left: 0;
}
.btn-primary {
  background: #00c1cd;
}
.btn:hover {
  background: #727aae !important;
}
.btn-xl {
  display: flex;
}
.btn-info {
  background: #3fbbe9;
}
.btn-danger {
  background: #df4930;
}
.btn-blue {
  background: #1877f2;
}
.social-btn .btn i {
  float: left;
  margin: 3px 10px;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .hidesidebarformobile {
    display: none;
  }
  .showbottombarformobile {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #000;
    z-index: 5;
  }
  * {
    box-sizing: content-box !important;
  }
  .footerBar {
    flex-direction: column;
  }
  .appendix li {
    line-height: 1.5;
  }
}

@media only screen and (min-width: 768px) {
  /* For mobile phones: */
  .showbottombarformobile {
    display: none;
  }
}
